.enter-code-modal {
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 10% 10px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
}

.enter-code-modal__close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
}

.enter-code-modal__title {
    margin-bottom: 10px;
}

.enter-code-modal__input {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 16px;
    border: 0;
    background-color: #E9E9E9;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.enter-code-modal__button {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px 0;
}

.enter-code-modal__close-text {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 600;
}