.onboarding {
    min-height: 100vh;
    padding: 40px 1rem 2rem;
    /* overflow-x: hidden; */
}
.onboarding__message-container
.onboarding__message,
.onboarding__input {
    margin-bottom: 20px;
}

.onboarding__message-container {
}

.onboarding__message {
    line-height: 25px;
    word-break: break-word;
}

.onboarding__message p {
    margin-bottom: 8px;
}

.onboarding__message li {
    list-style: unset;
    list-style-position: inside;
    font-size: 1rem;
    margin-bottom: 8px;
}

.onboarding__message__role {
    display: block;
}

.onboarding__input {
    width: 100%;
    border-radius: 16px;
    padding: 12px;
}