.sessions-page {
    text-align: center;
    padding: 40px 15% 35px;
}

.sessions-title {
    font-weight: 400;
    margin-bottom: 8px;
}

.sessions-subtitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 50px;
}

.sessions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-container {
  opacity: 0;
  transition: opacity 2s ease;
}

.course-container.fade-in {
  opacity: 1;
}

.unblock-session-animation {
  width: 200px;
  height: 200px;
}

@media (min-width: 1000px) {
  .sessions-page {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 0;
  }
}
