.blocked-session-modal {
    position: fixed;
    z-index: 2;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    padding: 40px 8%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.blocked-session-modal__title {
    margin-bottom: 1rem;
}

.blocked-session-modal__text {
    text-align: left;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.blocked-session-modal__text--question {
    font-weight: 600;
}

.blocked-session-modal__close-text {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 12px;
}

.blocked-session-modal__button {
    padding: 12px 0;
    margin-bottom: 1rem;
}

.blocked-session-modal__button--buy {
    background-color: white;
    color: var(--accent);
    border: 2px solid var(--accent);
}

.blocked-session-modal__line {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0.5px solid black;
}

@media (min-width: 1000px) {
    .blocked-session-modal {
        max-width: 500px;
        padding: 40px;
    }
}