html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #2d3142;
  --accent: #ef8354;
  --background: #F4F2F0;
  --header-bg: #fff;
  --text: #22223b;
  --step-bg: #f7d9c4;
  --step-border: #ef8354;
  --shadow: 0 2px 16px rgba(44, 62, 80, 0.07);
  --light-brown: #DAC3B4;
  --mid-light-brown: #845d43;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

h1 {
  font-weight: 700;
}

strong {
  font-weight: 600;
}

button {
    width: 100%;
    padding: 12px 64px;
    border-radius: 16px;
    border: none;
    background-color: var(--mid-light-brown);
    font-weight: 700;
    color: white;
    font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
