.navigation {
    position: absolute;
    bottom: 12.5%;
    right: 5%;
    text-align: right;
    position: fixed;
    z-index: 1;
}

.navigation__icon {
    background-color: var(--accent);
    border-radius: 50%;
    padding: 12px;
}

.navigation__links-container {
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    border-radius: 16px;
    margin-bottom: 8px;
    transform: translate(-5%, 0);
}

.navigation__link {
    padding: 12px 40px 12px;
    text-align: center;
    color: var(--background);
    font-size: 14px;
    font-weight: 600;
}

.navigation hr {
    width: 60%;
    margin: 0 auto;
    border: 0.5px solid var(--background);
}

@media (min-width: 1000px) {
    .navigation {
        top: 5%;
        right: unset;
        left: 20%;
        max-height: 150px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .navigation__icon {
        width: 48px;
        margin-bottom: auto;
    }
}